<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_slx_domain_Location" modelAttribute="location" path="/locations" versionField="Version" z="7JzQM30yuqM4ZoRITnXnGNn+Qxc=">
        <field:select field="client" id="c_com_slx_domain_Location_client" itemValue="id" items="${clients}" path="/clients" required="true" z="f+7NUUYMjuHaqSY/HkMFaLT6gJM="/>
        <field:select field="country" id="c_com_slx_domain_Location_country" items="${countrieses}" path="countrieses" required="true" z="iiLX0eOh148n9p9r5OKeA5fnQf8="/>
        <field:input field="postcode" id="c_com_slx_domain_Location_postcode" max="9999" min="0" required="true" z="9BqyULu97uYGKHRWYnLVk5ZMAjM="/>
        <field:input field="latitude" id="c_com_slx_domain_Location_latitude" min="0" required="true" z="3IIC2txWbuCWhGefJtx3hQy+92E="/>
        <field:input field="longitude" id="c_com_slx_domain_Location_longitude" min="0" required="true" z="AD46WNsZrUfCYr/CnnZKMRfmCUM="/>
    </form:update>
</div>
