<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show create="false" delete="false" id="ps_drink_domain_Drinker" list="false" object="${drinker}" path="/drinkers" z="user-managed">
        <field:display field="username" id="s_drink_domain_Drinker_username" object="${drinker}" z="UcbJxkMcDdO/XNfRI9Bcu5xvPEI="/>
        <field:display field="password" id="s_drink_domain_Drinker_password" object="${drinker}" z="vf1FGEYGx+PHIphg/AcOFMaR8Kc="/>
        <field:display field="profile" id="s_drink_domain_Drinker_profile" object="${drinker}" z="6bFSipU2CwzGIliYYiOW31jPvvI="/>
    </page:show>
</div>
