<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_drink_domain_Drinker" modelAttribute="drinker" path="/drinkers" versionField="Version" z="JiV/ShixXzZjMBnU1bKgKimVBIE=">
        <field:input field="username" id="c_drink_domain_Drinker_username" max="16" min="6" required="true" validationRegex="^[a-zA-Z0-9]+$" z="6YTyzatLYinHZiD+R96P296pEGM="/>
        <field:textarea field="password" id="c_drink_domain_Drinker_password" required="true" z="PcqcihRZnmH1iUyDOjwrsXCnssg="/>
        <field:select field="profile" id="c_drink_domain_Drinker_profile" itemValue="id" items="${profiles}" path="/profiles" z="BOfltqZcybk3HOqfsKJS76+46Os="/>
    </form:update>
</div>
