<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_slx_domain_Client" modelAttribute="client" path="/clients" versionField="Version" z="Eg1jEkRqPPxY71vVL9Yp7p/ABYM=">
        <field:input field="username" id="c_com_slx_domain_Client_username" min="6" required="true" z="K44bfxGKxZZDYvTVqpRv5DvbzBU="/>
        <field:textarea field="password" id="c_com_slx_domain_Client_password" required="true" z="qC0pM3WKO1neE/PNQSh4hXrR8sE="/>
    </form:update>
</div>
